<h1 align="center">Halaman Blog</h1>

<% @article.each do |article| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-title">
            <%= link_to article.title, articles_path(article) %>
          </div>
          <div class="article-body">
            <%= truncate(article.description, length: 30) %>
          </div>
          <div class="article-action">
            <%= link_to "Edit", edit_article_path(article), class: 'btn btn-xs btn-warning' %>
            <%= link_to "Hapus", article_path(article), method: :delete, class: 'btn btn-xs btn-danger', data: {confirm: 'Yakin mau hapus??'} %>
          </div>
        </div>
      </div>
    </div>
<% end %>